@import url('component/colors.css');
header {
    background-color: #2571B7;
    color: var(--color-white);
    width: 100%;
    position: fixed;
    z-index: 1;
}
.menu__group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}
.menu__line__group{
    height: 18px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menu__line__item{
    background-color: var(--color-white);
    width: 100%;
    height: 2px;
}
