@import url('component/colors.css');
:root{
    --width-header: 48px;
}
header {
    background-color: #2571B7;
    color: var(--color-white);
    width: 100%;
    position: fixed;
    z-index: 1;
}
.menu__group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--width-header);
}
/* .menu__line__group{
    height: 18px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */
.menu__label, 
.menu__check {
    display: none;
}
.menu__link{
    display: flex;
    gap: 6.29rem;
}
.menu__link a{ color: #FFF; }
@media only screen and (max-width: 746px) {
    .menu__link{
        flex-direction: column;
        position: absolute;
        top: var(--width-header);
        left: 0;
        right: 0;
        background-color: #2571B7;
        font-size: 1.1rem;
        border-top: 1px solid #000;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    li.menu__link a{
        display: flex;
        justify-content: center;
        color: var(--color-white);
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        cursor: pointer;
    }

    .menu__label {
        display: flex;
        /* align-items: center;
        color: #fff; */
        cursor: pointer;
    }

    .menu__line__item{
        border-top: 0.125rem solid #F00;
        width: 1.25rem;
    }

    .menu__line__item::before,
    .menu__line__item::after{
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: #FFF;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .menu__check:checked ~ .menu__link{
        height: 80vh;
        visibility: visible;
        overflow-y: auto; /*garante que caso tenha mais itens terá um scroll na tela*/
    }

    .menu__check:checked ~ .menu__line__item {
        border-top-color: transparent;
    }

    .menu__check:checked ~ .menu__line__item::before {
        transform: rotate(135deg);
    }

    .menu__check:checked ~ .menu__line__item::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
}
