* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font: normal normal 600 14px/19px Segoe UI;
    color: #000;
    box-sizing: content-box;
}
body {
    font-size: 62, 5%;
    font-family: sans-serif;
    background-color: #FFF;
}
a { text-decoration: none; }
a:hover{
    opacity: 0.7;
}
h1, h2, p { text-align: center; }

/* https://meyerweb.com/eric/tools/css/reset/ */