@import 'reset.css';
@import 'header.css';
@import 'footer.css';

main{
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url("../img/notebook_fundo.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    height: calc(100vh - 48px);
    color: #FFFFFF;
    padding-top: 48px;
}
footer{
    background-color: #FFFFFF;
    color: #000;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 324px;
    border: 1px solid #000;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align_between{
    display: flex;
    justify-content: space-between;
}
.footer_copy{
    color: #B4B4B4;
}
/*component logo*/
.group_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F00;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0Db;
}
.logo_img{
    width: 2.3rem;
    height: 2.4rem; 
    background-color: rgb(142, 199, 238);
    border: 1px solid rgb(73, 112, 73);
}
.logo_text_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid #00F;
    height: 2.4rem;
}
.logo_text_main{
    font-size: 1.8rem;
    height: 10vh;
    margin: 0px;
    /* position: relative; 
    top: 0.45rem; */
}
.logo_text_secondary{
    font-size: 0.4rem;
    letter-spacing: 0.2rem;
    margin: 0px;
}
/*-/-/-/-/-/-/-/-/-*/

/* https://www.freecodecamp.org/portuguese/news/como-centralizar-tudo-com-css/#:~:text=Como%20centralizar%20uma%20div%20na%20vertical%20com%20transform%20e%20translate,do%20elemento%20pai%20como%20relative%20. */