@import url('colors.css');
/*0.0715 ~= 1pixel*/

.menu__link a img{
    width: 123.7px;
    height: 26.34px;
}

.menu_button,
.button__main__link,
.form__button button{
    background-color: var(--color-azul-claro);
}

.button_header{
    background-color: #002050;
    padding: 0.572rem 1.572rem; /*8 22*/
    color: var(--color-white);
}

.button,
.button_head,
.menu_button,
.button__main__link,
.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button__main__link{
    font-size: 2.001rem; /* 28 */
    padding: 1.672rem 0px;
    color: var(--color-white);
    max-width: 266px;
}

.frame__button__green,
.frame__button__blue,
.frame__button__orange{
    display: inline-block;
    padding: 0.65rem 0.84rem; /*110 por 41*/
    font-size: 1rem;
}

.form__button{
    flex-direction: column;
    margin: 0 3.429rem;
}

.form__button button{
    font-size: 2rem; /*28*/
    padding: 1.11rem 3.5rem;
    color: var(--color-white);
    font-weight: normal;
    cursor: pointer;
}

.logo__size{ width: 188px; }

@media only screen and (max-width: 746px) {
    .menu__link a:first-of-type{ display: none; }
    
    .button_header{
        font-size: 1rem; /*14*/
        padding: 0.358rem 1.072rem; /*5 15*/
    }

    .button__main__link{
        padding: 1.158rem 0px; 
        max-width: 188px;
        margin: 0 auto;
    }

    .button__main__link,
    .form__button button{
        font-size: 1.5011rem; /* 21 */
    }

    .frame__button__green,
    .frame__button__blue,
    .frame__button__orange {
        padding: 0 0.36rem;
        font-size: 0.82rem;
        margin: none;
    }

    .form__button{ margin: 0 1.2857rem; }

    .form__button button{
        line-height: 1.5rem;
        padding: 0.86rem 4.9rem;
    }
}