@import url('colors.css');
.menu_button{
    border: 1px solid #C00;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-azul-claro);
    width: 268px;
}
.button_header{
    background-color: #002050;
    font-size: 1.05rem;
    padding: 5px 15px 4px 15px;
}
.button_head{
    min-width: 113px;
    max-width: 138px;
    float: right;
}
.button_main{
    font-size: 1.5rem;
    padding: 16px 0;
}
.button__size__main{
    max-width: 266px;
    width: 188px;
    margin: 4.3rem auto 0 auto;
}
.button{
    color: var(--color-white);
    width: 100%;
    text-align: center;
}
.text_main{
    font-size: 3rem;
    padding: 1rem;
    color: var(--color-white);
}
.text_secondary{
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: normal;
    color: var(--color-white);
    line-height: 2.5rem;
}
.menu_button_main{
    width: 100%;
}
.logo__size{
    width: 188px;
}
/* 468px*/